<th:block th:fragment="modalCreate">
    <div class="modal fade" id="modalCreate" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Modal create</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="area-error hide">

                    </div>
                    <form id="frmCreate" method="post">
                        <div class="row mb-3 mt-3">
                            <div class="col-lg-4">
                                <label for="fullNameCre" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="fullNameCre" name="fullNameCre">
                            </div>
                            <div class="col-lg-4">
                                <label for="emailCre" class="form-label">Email</label>
                                <input type="email" class="form-control" id="emailCre">
                            </div>
                            <div class="col-lg-4">
                                <label for="phoneCre" class="form-label">Phone</label>
                                <input type="tel" class="form-control" id="phoneCre">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label for="provinceCre" class="form-label">Province</label>
                                <select id="provinceCre" class="form-select"></select>
                            </div>
                            <div class="col-lg-3">
                                <label for="districtCre" class="form-label">District</label>
                                <select id="districtCre" class="form-select"></select>
                            </div>
                            <div class="col-lg-3">
                                <label for="wardCre" class="form-label">Ward</label>
                                <select id="wardCre" class="form-select"></select>
                            </div>
                            <div class="col-lg-3">
                                <label for="addressCre" class="form-label">Address</label>
                                <input type="text" class="form-control" id="addressCre" name="addressCre">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" id="btnCreate">
                        <i class="fas fa-plus"></i>
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>